body {
  font-family: sans-serif;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

html, body, #react-target {
  height: 100%;
  bottom: 0;
  bottom: calc(0px - constant(safe-area-inset-top));
  min-height: calc(100% + constant(safe-area-inset-top));
  min-height: calc(100% + env(safe-area-inset-top));
}

#react-target {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}


.footer {
  position: relative !important;
  bottom: 0px !important;
}