@import "../../Generic.scss";
.empty {
    color: black;
}

.full {
    color: #006c35;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.justified {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffc900;
    border: solid;
    width: 40%;
}

.rcw-widget-container {
    z-index: 2;
}
