@import "../bookings/Bookings_client.scss";

.car:after, .car:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: inherit;
    right: 80px;
    position: absolute;
  }

  .car .car-front:after, .car .car-front:before {
    content: "";
    width: 20px;
    height: 10px;
    background-color: yellow;
    position: absolute;
    top: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .car .car-middle:before, .car .car-middle:after {
    content: "";
    display: block;
    border-bottom: 10px solid #495d65;
    border-left: 30px solid transparent;
    border-right: 40px solid transparent;
    height: 10px;
    width: 130px;
    position: absolute;
    right: 52px;
  }

  .car .car-back:before, .car .car-back:after {
    content: "";
    width: 23px;
    height: 12px;
    background-color: #D92626;
    position: absolute;
    bottom: -62px;
  }

  .car-line + .car-line {
    margin-top: 40px;
  }

 

  .car {
    width: 285px;
    height: 125px;
    zoom:20%;
    background: #b6bec3;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-border-radius-topright: 40px 50%;
    -webkit-border-top-right-radius: 40px 50%;
    border-top-right-radius: 40px 50%;
    -moz-border-radius-bottomright: 40px 50%;
    -webkit-border-bottom-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
    -moz-border-radius-bottomleft: 20px 30px;
    -webkit-border-bottom-left-radius: 20px 30px;
    border-bottom-left-radius: 20px 30px;
    -moz-border-radius-topleft: 20px 30px;
    -webkit-border-top-left-radius: 20px 30px;
    border-top-left-radius: 20px 30px;
  }
  .car:after {
    top: -12px;
    -moz-border-radius: 3px 100% 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px 100% 0 0;
  }
  .car:before {
    bottom: -12px;
    -moz-border-radius: 0 0 100% 3px;
    -webkit-border-radius: 0;
    border-radius: 0 0 100% 3px;
  }
  .car .car-front {
    border-bottom: 40px solid #495d65;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 42px;
    height: 0;
    width: 70px;
    right: 30px;
    position: absolute;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-box-shadow: 0px 3px 0 #fff;
    -webkit-box-shadow: 0px 3px 0 #fff;
    box-shadow: 0px 3px 0 #fff;
  }
  .car .car-front:after {
    -moz-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
    left: -5px;
  }
  .car .car-front:before {
    -moz-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
    right: -5px;
  }
 
  .car.car-red {
    background-color: #e74c3c;
  }
  
  .car + .car,
  .car + .vacancy {
    margin-left: 40px;
  }
  .car .car-middle:before {
    bottom: 8px;
  }
  .car .car-middle:after {
    top: 8px;
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
  }
  .car .car-back {
    content: "";
    border-bottom: 35px solid #495d65;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    top: 44px;
    width: 60px;
    left: -5px;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
  }
  .car .car-back:before {
    left: -30px;
    -moz-border-radius-bottomleft: 40px 22px;
    -webkit-border-bottom-left-radius: 40px 22px;
    border-bottom-left-radius: 40px 22px;
  }
  .car .car-back:after {
    right: -30px;
    -moz-border-radius-bottomright: 40px 22px;
    -webkit-border-bottom-right-radius: 40px 22px;
    border-bottom-right-radius: 40px 22px;
  }


  .passo1:checked + .passo2:not(:checked) ~ .car {
    -moz-animation: animacao-passo1 3s ease-in-out;
    -webkit-animation: animacao-passo1 3s ease-in-out;
    animation: animacao-passo1 3s ease-in-out;
  }

  .passo1:checked + .passo2 ~ .car {
    left: 680px;
  }

