@import "../bookings/Bookings_client.scss";

.mapView {
    height: 50%;
    width: 100%;
}

.empty {
    color: black;
}

.full {
    color: yellow;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.justified {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffc900;
    border: solid;
    width: 40%;
}
