@import "../bookings/Bookings_client.scss";

.mapView {
    height: 50%;
    width: 100%;
}

.empty {
    color: black;
}

.full {
    color: yellow;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.justified {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffc900;
    border: solid;
    width: 40%;
}
.rcw-widget-container {
    z-index: 2;
}

#sos {
    outline: none;
    width: 7em;
    height: 7em;
    margin-top: 30px;
    border: none;
    border-radius: 100px;
    background-color: red;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: 5px solid pink;
    box-shadow: 0 0 5px gray;
}
#sos:focus {
    box-shadow: 0 0 1px black;
}

.rcw-launcher {
    right: -46px !important;
    margin: 64px;
}